@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto+Mono:wght@500&display=swap');
:root{
    
    --primarycolor--: rgb(251, 242, 242); 
    --secondarycolor--:gray;
}


.darkmode{
    --primarycolor--: rgb(57, 55, 55);
    --secondarycolor--:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primarycolor--);
    font-family:'Roboto Mono', sans-serif ;
    background:var(--primarycolor--);
    transition: all 0.3s ease-in-out;
    
}

.main-grid-container{
    display: flex;
    background-color: black;
}

.main-grid-item-1{
    
    height: 100vh;
    width: 60%;
    
    
}

.main-grid-item-2{
    height: 100vh;
    width: 60%;
   
   
}

.grid2-item-1{
    background-color: #161616;
    height: 50%;
    border-color: rgb(72, 70, 70);
    border: 10px;
}

.grid2-item-2{
    background-color: rgb(122, 171, 124);
    background-image: url("https://img.freepik.com/premium-photo/anime-style-game-scene-modeling-rendering-illustration-sakura-house-wallpaper-background-ai-generate_859483-6172.jpg");
    height: 50%;
}

/* Swiper js */


.swiper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* box-sizing: border-box;  */
  
    /* Remove any padding or margin that might affect sizing */
    /* padding: 0;
    margin: 0; */
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_slider {
    width: 100%;
    height: 100vh;
    display: grid;
    overflow: hidden;
    position: relative;
  }
  
  /* .image_slider .swiper-wrapper {
    animation: scrollImages 20s linear infinite; 
  } */
  
  /* .image_slider .swiper-slide {
    width: 100%;
    height: 100vh;
    position: relative;
  } */
/*   
  @keyframes scrollImages {
    0% {
      top: 0;
    }
    100% {
      top: -500%; 
    }
  } */
