@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto+Mono:wght@500&display=swap');
:root{
    
    --primarycolor--: rgb(251, 242, 242); 
    --secondarycolor--:gray;
}


.darkmode{
    --primarycolor--: rgb(57, 55, 55);
    --secondarycolor--:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primarycolor--);
    font-family:'Poppins', sans-serif ;
    background:var(--primarycolor--);
    transition: all 0.3s ease-in-out;
    
}

.main-grid-container{
    display: flex;
    background-color: black;
    position: relative;
    z-index: 0;
  
}

.main-grid-item-1{
    
    height: 100vh;
    width: 50%;
    
    
}

.main-grid-item-2{
    height: 100vh;
    width: 66%;
   
   
}

.grid2-item-1{
    background-color: #161616;
    height: 50%;
    border-color: rgb(72, 70, 70);
    border: 10px;
    display: flex;
}



.grid2-item-2{
    background-color: rgb(122, 171, 124);
    background-image: url("https://img.freepik.com/premium-photo/anime-style-game-scene-modeling-rendering-illustration-sakura-house-wallpaper-background-ai-generate_859483-6172.jpg");
    height: 50%;
}


/* Swiper js */



.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_slider {
    width: 100%;
    height: 100vh;
    display: grid;
    overflow: hidden;
    position: relative;
  }


  
  
.grid2-subitem-1{
  width: 50%;
  
  
}
.grid2-subitem-2{
  width: 50%;
  background-color: aqua;
  
}


  /* .image_slider .swiper-wrapper {
    animation: scrollImages 20s linear infinite; 
  } */
  
  /* .image_slider .swiper-slide {
    width: 100%;
    height: 100vh;
    position: relative;
  } */
/*   
  @keyframes scrollImages {
    0% {
      top: 0;
    }
    100% {
      top: -500%; 
    }
  } */


  /* nav */

  nav{
    color: aliceblue;
    position: absolute;
    left: 3rem;
    top: 2rem;
    z-index: 1;
    height: 92%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
 
    
    
  }

nav h1{
  font-family:'Caveat', sans-serif ;
  font-size: xx-large;
  transform: rotate(-10deg); 
  
}
nav ul li{
  font-size: small;
  margin-top: 9px;

}
ul {
  list-style: none; /* Remove the default dot */
  margin-bottom: 30px;
}

.card{
  border:3px;
  border-color: aliceblue;
  height: 100% ;
  width: 100%;
}

 .card-img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}
 .card-wrapper{
  padding-top: 2.5rem;
  padding-left: 30px;
  display: flex;
  
  /* padding: 10px; */
}

.card-name{
   font-size: small;
   padding-left: 1rem;
   margin-top: 2px;
}
.card-name .degree{
  font-size: small;
  font-weight: lighter;
  color: rgb(126, 128, 128);
  
}

.des{
  
  font-size: small;
  font-weight: lighter;
  margin-top: 1rem;
  padding-left: 2rem;
  
}



@media (max-width: 768px) {
 
  .main-grid-container{
    display: flex;
    flex-direction: column;
}
    .main-grid-item-1{
      height: 69vh;
      width: 100%;
    }
    .main-grid-item-2{
      display: flex;
      width: 100%;
      height: 31vh;
    }

    
.grid2-item-1{
  background-color: #161616;
  height: auto;
  width: 50%;
 
}

.grid2-item-2{
  width: 50%;
  height: auto;
}
   
.grid2-subitem-1{
  display: none;
}

}